

<tr>
  <td><%= item.item_name %></td>
  <% if item.quantity > 0.to_i %>
      <td>$<%= number_with_precision item.item_price, :precision => 2 %></td>
      <td><%= item.store_name %></td>
  <% else %>
      <td>$0.00</td>
      <td>No longer available</td>
  <% end %>
  <td><a id="addcart<%= item.id %>">Add to cart</a></td>
</tr>

<%= javascript_tag do %>
    $('#addcart<%= item.id %>').click(function() {
        $.ajax({
            type: 'GET',
            url: '/addcart/' + <%= item.id %>
        });
    });
<% end %>