<% provide(:title, 'Orders') %>
<h3>Orders Placed in Your Store</h3>
<br/>
<% if current_storekeeper.orders.count > 0 %>
<table class="table table-striped table-bordered">
<tr>
  <th>Order Number</th>
  <th>Customer Info</th>
  <th>Item Info</th>
</tr>
<% @orders.each do |order| %>
  <% if order.order_its.any? %>
  <% if order.contains_items_from(@storekeeper) %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.customer_name %>, <%= order.customer_email %></td>
    <td><% order.order_its.each do |item| %>
      <% if Item.find_by_id(item.item_number) %>
      <% if Item.find_by_id(item.item_number).store_id == @storekeeper.stores.first.id %>
      [<%= item.item_number %>] <%= item.item_name %> <br/>
      <% end %><% end %>
  <% end %></td>
  </tr>
  <% end %>
  <% end %>
<% end %>
</table>
<% end %>
<br/>
<h3>Orders You've Placed</h3>
<br/>
<table class="table table-striped table-bordered">
<% if @orders.any? %>
<tr>
  <th>Order Number</th>
  <th>Item Info</th>
</tr>
<% @orders.each do |order| %>
  <% if order.order_its.any? %>
  <% if order.storekeeper_id == @storekeeper.id %>
  <tr>
    <td><%= order.id %></td>
    <td><% order.order_its.each do |item| %>
      <% if Item.find_by_id(item.item_number) %>
      [<%= item.item_number %>] <%= item.item_name %> <br/>
      <% end %><% end %>
  </td>
  </tr>
  <% end %><% end %>
<% end %>
</table>
<% end %>
