<% provide(:title, 'Profile') %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @storekeeper.name %>
</p>

<p>
  <b>Email:</b>
  <%= @storekeeper.email %>
</p>


<% if !current_storekeeper.store_exists %>
<%= link_to 'New Store', new_store_path %> | 
<% end %>
<%= link_to 'Recent Orders', order_url(:id => @storekeeper.id) %>
<br/><br/>

  <% if @storekeeper.stores.any? %>
  <h3> Your Store </h3><br/>
  <%= render @stores %>
  <% end %>
