<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @storekeeper.name %>
</p>

<p>
  <b>Email:</b>
  <%= @storekeeper.email %>
</p>


<%= link_to 'Edit', edit_storekeeper_path(@storekeeper) %> |
<%= link_to 'New Store', new_store_path %>

<div class="span8">
  <% if @storekeeper.stores.any? %>
  <h3> Stores (<%= @storekeeper.stores.count %>)</h3><br/>
  <%= render @stores %>
  <% end %>
</div>
