<% provide(:title, 'Shop') %>
<p id="notice"><%= notice %></p>

<h3><%= @store.name %></h3>
<h5><%= @store.description %></h5><br/>

<% if @store.items_available %>
<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% @items.each do |item| %><% if item.quantity > 0.to_i %>
  <tr>
    <td><%= item.name %></td>
    <td><%= number_with_precision item.price, :precision => 2 %></td>
    <td><%= item.quantity %></td>
    <td><%= item.description %></td>
    <td><%= link_to 'Add to Basket', basket_url(:id => item.id, :sid => @current_storekeeper.id) %>
  </tr>
  <% end %><% end %>
</table>

<% else %>
<p>No items available at this time. Please check back later.</p>
<% end %>
