<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'New Item', new_item_path %>
<br/><br/>
<% if @store.items.any? %>
<h3>Items (<%= @store.items.count %>)</h3><br/>
<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @items %>
</table>
<% end %>
