<p id="notice"><%= notice %></p>

<h3>Shopping Cart</h3>

<p>
  <b>Storekeeper:</b>
  <%= @cart.storekeeper_id %>
</p>

<% if @cart.cart_items.any? %>
  <% @cart.cart_items.each do |item| %>
    Item ID: <%= item.item_number %> | Item's Store ID: <%= item.store_number %><br/>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> |
<%= link_to 'Checkout', checkout_url(:id => @cart.id) %>
