<h1>Listing saveds</h1>

<table>
  <tr>
    <th>Storekeeper</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @saveds.each do |saved| %>
  <tr>
    <td><%= saved.storekeeper_id %></td>
    <td><%= saved.item_id %></td>
    <td><%= link_to 'Show', saved %></td>
    <td><%= link_to 'Edit', edit_saved_path(saved) %></td>
    <td><%= link_to 'Destroy', saved, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saved', new_saved_path %>
