<p id="notice"><%= notice %></p>

<p>
  <b>Storekeeper:</b>
  <%= @saved.storekeeper_id %>
</p>

<p>
  <b>Item:</b>
  <%= @saved.item_id %>
</p>


<%= link_to 'Edit', edit_saved_path(@saved) %> |
<%= link_to 'Back', saveds_path %>
