<tr>
  <td><%= item.name %></td>
  <td><%= number_with_precision item.price, :precision => 2 %></td>
  <td><%= item.quantity %></td>
  <td><%= link_to "Edit", edit_item_path(item) %></td>
  <td><%= link_to "Destroy", item_destroy_path(:id => item.id) %></td>
</tr>
